

@media (min-width: 780px) {

    @import url('https://fonts.googleapis.com/css?family=Encode+Sans|Fjalla+One');

    html {
        margin: 0;
        padding: 0;
        height: auto;
    }

    body {
        font-family: 'Encode Sans', sans-serif;
        background: white;
        background-repeat: no-repeat;
        margin: 0px;
        padding: 0px;
        color: black;
    }

    #header {
        margin: 0;
        display: flex;
        display: -ms-flexbox;
        background-image: url('../img/ti1.jpg');
        width: 100%;

    }

    header > h1 {
        color: white;
        margin: 40px auto auto 5px;
        font-size: 16px;
    }

    header img {
        height: 100px;
        margin: 0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

   header a{
    height: 98px;
   }

    nav {
        width: 100%;
        background-color: #6979d8;
        height: 55px;
        color: white;
        box-shadow: 3px 5px 10px #b1abab;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }


    article {
        height: 500px;
        display: flex;
        display: -ms-flexbox;
    }

    #servicos_flex {
        display: flex;
        display: -ms-flexbox;
        width: 100%;
        background-color: white;
        height: 320px;
        margin: 3% 2% 2% 2%;
        border-radius: 50px;
        text-align: center;
        padding: 2px;
    }

        #servicos_flex h3 {
            color: black;
            margin-top: 15px;
        }

        #servicos_flex img {
            width: 100%;
            margin-top: 15px;
        }


    #main {
        background-color: white;
        text-decoration: none;
        display: flex;
        display: -ms-flexbox;
        border-radius: 10px;
        width: 400px;
    }

    #cadastro_main {
        width: 100%;
        text-align: center;
    }


    hr {
        width: 95%;
        margin: 2%;
    }


    footer {
        bottom: 0; /* Position the navbar at the top of the page */
        margin: 0px;
        width: 100%;
    }

    #footer {
        justify-content: center;
        width: 100%;
    }

    div#footer h2 {
        font-family: 'Fjalla One', sans-serif;
        text-shadow: 2px 2px 5px white;
    }
}
