
@media (max-width: 780px){

@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Fjalla+One');

    html {
        margin: 0;
        padding: 0;
        height: auto;
    }

    body {
        font-family: 'Encode Sans', sans-serif;
        background: white;
        background-repeat: no-repeat;
        margin: 0px;
        padding: 0px;
    }

  #header {
        display: flex;
        display: -ms-flexbox;
        background-image: url('../img/ti1.jpg');
        width: 100%;
        margin: 0 10px auto 0;
    }

    header > h1 {
        font-family: 'Fjalla One', sans-serif;
        margin: 40px auto auto auto;
        font-size: 16px;
    }

    header img {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    nav {
        margin: 8px 0 0 0;
        width: 100%;
        background-color: #6979d8;
        height: 55px;
        color: white;
        box-shadow:3px 5px  10px #b1abab ;
    }

    #nav {
        margin: 20px auto auto 100px;
    }

        #nav a {
            display: inline;
            color: white;
            padding: 20px;
        }

            #nav a:hover {
                color: #76bceb;
            }

    a {
        text-decoration: none;
        cursor: pointer;
    }

        a:hover {
            color: #ff0000;
        }

    article {
        display: flex;
        display: -ms-flexbox;
        direction: row;
    }

    #servicos_flex {
        display: flex;
        display: -ms-flexbox;
        width: 100%;
        background-color: white;
        height: 320px;
        margin: 10% 2% 2% 2%;
        border-radius: 50px;
        text-align: center;
        padding: 2px;
    }

        #servicos_flex h1 {
            color: black;
            margin-top: 15px;
        }

        #servicos_flex img {
            width: 100%;
            margin-top: 15px;
        }


    #main {
        background-color: white;
        text-decoration: none;
        display: flex;
        display: -ms-flexbox;
        border-radius: 10px;
        width: 400px;
    }

    #cadastro_main {
        width: 100%;
        text-align: center;
    }

    #frm input[type="submit"] {
        margin: 5px;
        padding: 5px;
        text-align: center;
        width: 150px;
        height: 40px;
        border-radius: 15px;
        box-shadow: #808080 2px 3px;
        color: white;
        font-family: 'Encode Sans', sans-serif;
        background-color: #6979d8;
        border-bottom-color: transparent;
        cursor: pointer;
    }

        #frm input[type="submit"]:hover {
            background-color: #76bceb;
        }


    #frm input[type="text"] {
        width: 300px;
    }

    fieldset {
        padding: 10px;
    }

    #buttons {
        text-align: center;
        display: flex;
        display: -ms-flexbox;
    }

    hr {
        width: 95%;
        margin: 2%;
    }


    footer {
        bottom: 0; /* Position the navbar at the top of the page */
        margin: 0px;
        width: 100%;
    }

    #footer {
        justify-content: center;
        width: 100%;
    }

    div#footer h2 {
        font-family: 'Fjalla One', sans-serif;
        text-shadow: 2px 2px 5px white;
    }
}
